#home-button-container {
  padding: 8px 15px 0px 15px;
}

#home-button {
  width: 72px;
  height: 72px;
  box-sizing: content-box;
  font-size: 24px;
  line-height: 36px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px var(--color-shadow-dark);
  color: var(--color-text-light-heading);
  text-align: center;
  border: 1px solid var(--color-border-dark);
  border-radius: 5px 5px 1em 5px;
  cursor: pointer;
  pointer-events: all;
  display: inline-block;
  margin-bottom: 0.5em;
}

#home-button:hover {
  border: 1px solid var(--color-border-light-1);
  box-shadow: 0 0 10px var(--color-border-light-1);
}

#logo {
  display: none;
}
